@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,900;1,700&display=swap");

:root {
  // Colours:
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--dark-blue);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  margin-top: 40px;
}

.main {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  font-family: "Red Hat Display", sans-serif;
  width: min-content;
  height: min-content;
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
  > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  > h4 {
    font-size: 20px;
    color: var(--dark-blue);
    margin-top: 10px;
  }
  > p {
    margin-top: -30px;
    font-size: 16px;
    text-align: center;
    opacity: 0.6;
    width: 300px;
    color: var(--desaturated-blue);
  }
  .flex {
    background-color: #e8eefc;
    border-radius: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    padding-left: 30px;
    padding-right: 30px;
    > img {
      width: 50px;
      height: 50px;
    }
    .column {
      > p {
        opacity: 0.4;
        margin-top: -10px;
      }
    }
    .change {
      color: var(--bright-blue);
    }
    .change:hover {
      cursor: pointer;
    }
  }
  button {
    height: 40px;
    width: 360px;
    border-radius: 10px;
    border: none;
    background-color: var(--bright-blue);
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
  }
  button:hover {
    cursor: pointer;
  }
  .cancel {
    > p {
      margin-top: -10px;
      padding: 10px;
      opacity: 0.5;
      font-weight: bold;
    }
  }
  .cancel:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 425px) {
  > body {
    width: 80%;
    margin: 10% auto;
    background-image: url(/images/pattern-background-mobile.svg);
  }
  .main {
    > img {
      max-width: 375px;
    }
    > .flex {
      width: 300px;
      height: 80px;
      padding-right: 10px;
      padding-left: 10px;
    }
    > button {
      width: 320px;
    }
  }
}
